
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=a-remplacer-par-une-valeur-aleatoire
API_TOKEN_SALT=a-remplacer-par-une-valeur-aleatoire
ADMIN_JWT_SECRET=a-remplacer-par-une-valeur-aleatoire
JWT_SECRET=a-remplacer-par-une-valeur-aleatoire
TRANSFER_TOKEN_SALT=a-remplacer-par-une-valeur-aleatoire
ENCRYPTION_KEY=a-remplacer-par-une-valeur-aleatoire

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=a-remplacer-par-une-valeur-aleatoire
DATABASE_PORT=a-remplacer-par-une-valeur-aleatoire
DATABASE_NAME=a-remplacer-par-une-valeur-aleatoire
DATABASE_USERNAME=a-remplacer-par-une-valeur-aleatoire
DATABASE_PASSWORD=a-remplacer-par-une-valeur-aleatoire
DATABASE_SSL=a-remplacer-par-une-valeur-aleatoire
DATABASE_FILENAME=.tmp/data.db
